In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
tqdm.pandas()

from geopy import distance

## Data from zenodo archive

https://zenodo.org/record/7923702

In [29]:
january=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190101_20190131.csv', dtype={1: 'string'})
february=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190201_20190228.csv', dtype={1: 'string'})
march=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190301_20190331.csv', dtype={1: 'string'})
april=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190401_20190430.csv', dtype={1: 'string'})
may=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190501_20190531.csv', dtype={1: 'string'})
june=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190601_20190630.csv', dtype={1: 'string'})
july=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190701_20190731.csv', dtype={1: 'string'})
august=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190801_20190831.csv', dtype={1: 'string'})
september=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190901_20190930.csv', dtype={1: 'string'})
october=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20191001_20191031.csv', dtype={1: 'string'})
november=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20191101_20191130.csv', dtype={1: 'string'})
december=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20191201_20191231.csv', dtype={1: 'string'})


opensky_2019=pd.concat([january,february,march,april,may,june,july,august,september,october,november,december], axis=0).reset_index()

In [30]:
opensky_2019

,index,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,0,HVN19,<NA>,888152,NaN,NaN,YMML,LFPG,2018-12-31 00:43:16+00:00,2019-01-01 04:56:29+00:00,2019-01-01 00:00:00+00:00,-37.659485,144.804421,304.8,48.995316,2.610802,-53.34
1,1,CCA839,<NA>,780ad1,NaN,NaN,YMML,LEBL,2018-12-31 00:53:08+00:00,2019-01-01 06:01:42+00:00,2019-01-01 00:00:00+00:00,-37.692123,144.841997,304.8,41.036124,2.063557,1112.52
2,2,CES219,<NA>,780b7e,B-5936,A332,YSSY,EDDF,2018-12-31 01:05:29+00:00,2019-01-01 04:09:29+00:00,2019-01-01 00:00:00+00:00,-33.930908,151.171987,0.0,50.045563,8.588923,-15.24
3,3,AEA040,<NA>,34444e,EC-LVL,A332,LEMD,LEMD,2018-12-31 01:07:21+00:00,2019-01-01 03:32:59+00:00,2019-01-01 00:00:00+00:00,40.534756,-3.575426,609.6,40.475728,-3.538347,411.48
4,4,CXA825,<NA>,780d75,B-2760,B788,YSSY,LFPG,2018-12-31 01:18:29+00:00,2019-01-01 04:32:28+00:00,2019-01-01 00:00:00+00:00,-33.954254,151.178041,0.0,48.996091,2.625805,22.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31218159,2778410,BTR,<NA>,7c07cd,VH-BTR,C172,YPPF,YPAD,2019-12-31 23:46:09+00:00,2019-12-31 23:56:11+00:00,2019-12-31 00:00:00+00:00,-34.800201,138.632943,-304.8,-34.837134,138.472195,121.92
31218160,2778411,CHH7767,<NA>,780dd6,B-1505,B738,ZGSZ,NaN,2019-12-31 23:46:26+00:00,2019-12-31 23:59:49+00:00,2019-12-31 00:00:00+00:00,22.604462,113.829595,304.8,22.041412,112.869740,5684.52
31218161,2778412,CAP4390,<NA>,a61058,NaN,NaN,UT99,KU77,2019-12-31 23:47:04+00:00,2019-12-31 23:57:12+00:00,2019-12-31 00:00:00+00:00,40.173185,-112.082582,2743.2,40.128113,-111.672668,1600.20
31218162,2778413,N214KT,<NA>,a1c951,N214KT,NaN,KRBD,KRBD,2019-12-31 23:47:09+00:00,2019-12-31 23:57:41+00:00,2019-12-31 00:00:00+00:00,32.674271,-96.866735,0.0,32.690192,-96.862251,251.46
31218163,2778414,N337PH,<NA>,a3b11d,N337PH,NaN,2TS8,KRND,2019-12-31 23:47:37+00:00,2019-12-31 23:57:56+00:00,2019-12-31 00:00:00+00:00,29.305801,-97.937358,304.8,29.437180,-98.347655,358.14

In [32]:
keep_time=False


# selecting only the columns interesting us
opensky_2019 = opensky_2019.loc[:, ['day', 'destination', 'origin', 'icao24']]
# Drop flight with no known origin and destination (mandatory because of our computation method)
size_before_drops = len(opensky_2019.index)
opensky_2019.dropna(subset=["destination", "origin"], inplace=True)
size_after_drops = len(opensky_2019.index)
print('{}% of flights deleted after removing '
    'flights with no origin and destination. {} Flights in the dataset'.format(
        (size_before_drops - size_after_drops) / size_before_drops * 100, size_after_drops))

# Opensky only gets aircraft transponder code, not its registration.
# Hopefully, it can be merged with an aircraft database, for example opensky aircraft database

ac_ref=pd.read_csv('../04_bis_opensky_standalone/data/aircraft-database-complete-2022-05.csv', sep=';')


 # Even if each aircraft has a unique icao24 code, some are present several times in the database.
# Duplicates are therefore dropped before merging the dataframes.
ac_ref = ac_ref[['icao24', 'typecode', 'operator_os', 'operatoricao']].drop_duplicates(subset='icao24',
                                                                                       keep='last')
opensky_2019 = pd.merge(opensky_2019, ac_ref, left_on='icao24', right_on='icao24', how='left', sort=False)

# we use ailine ICAO code, but it is named IATA in the following for compatibility reasons
opensky_2019.rename(columns={"operatoricao": "airline_iata",
                        "typecode": "aircraft_type"}, inplace=True)
opensky_2019.aircraft_type = opensky_2019.aircraft_type.replace("ZZZZ", "zzz")
opensky_2019.aircraft_type.fillna('zzz', inplace=True)
opensky_2019.airline_iata.fillna('ZZZ', inplace=True)

# # Counting flight per aircraft type /route/airline each month
if keep_time:
    # Converting dates to a suitable format
    opensky_2019['year'] = opensky_2019.apply(lambda x: get_month_year(x['day'])[0], axis=1)
    opensky_2019['month'] = opensky_2019.apply(lambda x: get_month_year(x['day'])[1], axis=1)

    opensky_2019 = opensky_2019.groupby(
        ['airline_iata', 'origin', 'destination', 'aircraft_type', 'month', 'year'],
        as_index=False, dropna=False).size()
else:
    # allows to significantly reduce the size of the data by eliminating the temporal variables
    #         by aggregating whole dataframe values
    opensky_2019 = opensky_2019.groupby(
        ['airline_iata', 'origin', 'destination', 'aircraft_type'],
        as_index=False, dropna=False).size()

opensky_2019.rename(columns={"size": "n_flights"}, inplace=True)
print(
    'Size of df after_grouping: {}; number of flights: {}'.format(len(opensky_2019.index), opensky_2019.n_flights.sum()))


ac_cla = pd.read_csv('../03_routes_schedule/data/open_sky/aircraft_classification.csv', sep=';')
opensky_2019 = opensky_2019.merge(ac_cla, left_on='aircraft_type', right_on='aircraft_osky', how='left')
opensky_2019.drop(columns=['aircraft_osky'], inplace=True)

opensky_2019.acft_icao.fillna('zzz', inplace=True)
opensky_2019.acft_class.fillna('OTHER', inplace=True)
opensky_2019.seymour_proxy.fillna('zzz', inplace=True)

print('Size of df after ac info: {}; number of flights {}'.format(len(opensky_2019.index), opensky_2019.n_flights.sum()))

# similarly, we merge an airport database to have info on airport iata designator, and gps coordinates.
# All major airports have IATA designator.

arpt_ref = pd.read_csv('../03_routes_schedule/data/ourairports.csv', sep=';', keep_default_na=False, na_values='')

opensky_2019 = opensky_2019.merge(arpt_ref[['ident', 'iata_code', 'longitude_deg',
                                  'latitude_deg', 'iso_country', 'continent']], left_on='origin',
                        right_on='ident', how='left', sort=False)
opensky_2019.rename(columns={'longitude_deg': 'origin_lon', 'latitude_deg': 'origin_lat',
                        'iso_country': 'origin_country', 'continent': "origin_continent",
                        "iata_code": "origin_iata"}, inplace=True)

opensky_2019 = opensky_2019.merge(arpt_ref[['ident', 'iata_code', 'longitude_deg',
                                  'latitude_deg', 'iso_country', 'continent']], left_on='destination',
                        right_on='ident', how='left', sort=False)
opensky_2019.rename(columns={'destination': 'dest', 'longitude_deg': 'dest_lon', 'latitude_deg': 'dest_lat',
                        'iso_country': 'dest_country', 'continent': "dest_continent", "iata_code": "dest_iata"},
               inplace=True)
opensky_2019.drop(
    columns=['ident_x', 'ident_y'], inplace=True)


opensky_2019.dropna(subset=["dest_lon", "origin_lon", "dest_lat", "origin_lat"], inplace=True)

print(
    'Size of df after arpt info: {}, number of flights: {}'.format(len(opensky_2019.index), opensky_2019.n_flights.sum()))

0.0% of flights deleted after removing flights with no origin and destination. 16830310 Flights in the dataset

C:\Users\a.salgas.ISAE-SUPAERO\AppData\Local\Temp\ipykernel_13900\3657404458.py:19: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  ac_ref=pd.read_csv('../04_bis_opensky_standalone/data/aircraft-database-complete-2022-05.csv', sep=';')

Size of df after_grouping: 1808928; number of flights: 16830310
Size of df after ac info: 1808928; number of flights 16830310
Size of df after arpt info: 1801326, number of flights: 16761488

In [35]:
os_df=opensky_2019.copy()

os_df

,airline_iata,origin,dest,aircraft_type,n_flights,acft_icao,acft_class,seymour_proxy,origin_iata,origin_lon,origin_lat,origin_country,origin_continent,dest_iata,dest_lon,dest_lat,dest_country,dest_continent
0,AAB,EBAW,EBMB,CL35,1,CL35,PJ,zzz,ANR,4.460280,51.189400,BE,EU,NaN,4.490000,50.913000,BE,EU
1,AAB,EBAW,EDDN,CL35,1,CL35,PJ,zzz,ANR,4.460280,51.189400,BE,EU,NUE,11.078056,49.498699,DE,EU
2,AAB,EBAW,EGLF,CL35,1,CL35,PJ,zzz,ANR,4.460280,51.189400,BE,EU,FAB,-0.776333,51.275799,GB,EU
3,AAB,EBBR,EBKT,CL35,1,CL35,PJ,zzz,BRU,4.484440,50.901402,BE,EU,KJK,3.204720,50.817200,BE,EU
4,AAB,EBBR,EBLG,CL35,4,CL35,PJ,zzz,BRU,4.484440,50.901402,BE,EU,LGG,5.443220,50.637402,BE,EU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808923,bfx,LSZM,EDDN,PRM1,2,PRM1,PJ,zzz,NaN,9.064662,47.078353,CH,EU,NUE,11.078056,49.498699,DE,EU
1808924,bfx,LSZR,EDDN,PRM1,1,PRM1,PJ,zzz,ACH,9.560770,47.485001,CH,EU,NUE,11.078056,49.498699,DE,EU
1808925,bfx,LZIB,EDCT,PRM1,1,PRM1,PJ,zzz,BTS,17.212700,48.170200,SK,EU,NaN,12.536944,51.395000,DE,EU
1808926,bfx,UKKK,EDDN,PRM1,1,PRM1,PJ,zzz,IEV,30.451940,50.401940,UA,EU,NUE,11.078056,49.498699,DE,EU
1808927,bfx,UUWW,EDDN,PRM1,1,PRM1,PJ,zzz,VKO,37.261501,55.591499,RU,EU,NUE,11.078056,49.498699,DE,EU

In [36]:
fleet=pd.read_excel('data/planespotters_fleet.xlsx')
fleet['Seat Total']=fleet['Seat Total'].replace(0, np.nan)
fleet.dropna(subset=['Seat Total'], inplace=True)

# Adding the name/icao code match table
match=pd.read_csv('data/fleet_match.csv', sep=';')
fleet=fleet.merge(match, left_on='Aircraft Type', right_on='spotter_name', how='right').drop(columns='spotter_name')

aircraft_data=fleet.groupby(['Aircraft Type','ICAO_AC'])['Seat Total'].mean().reset_index().drop(columns='Aircraft Type')

In [37]:
aircraft_data.head()

  ICAO_AC  Seat Total
0    AT43   46.897119
1    AT45   46.897119
2    AT72   70.137580
3    AT75   70.137580
4    AT76   70.137580

In [38]:
os_df=os_df.merge(aircraft_data, left_on='acft_icao', right_on='ICAO_AC', how='left')
os_df['Seat Total']=os_df['n_flights']*os_df['Seat Total']
os_df=os_df.groupby(['origin_iata','origin_lon','origin_lat','origin_country','origin_continent','dest_iata','dest_lon','dest_lat','dest_country','dest_continent','airline_iata','acft_icao','acft_class','seymour_proxy'])[['Seat Total','n_flights']].sum().reset_index().rename(columns={'Seat Total':'seats'})

In [39]:
column_mapping = {
    'origin_iata': 'iata_departure',
    'dest_iata': 'iata_arrival',
    'origin_lon': 'departure_lon',
    'origin_lat': 'departure_lat',
    'origin_country': 'departure_country',
    'origin_continent': 'departure_continent',
    'dest_lon': 'arrival_lon',
    'dest_lat': 'arrival_lat',
    'dest_country': 'arrival_country',
    'dest_continent': 'arrival_continent'
}                          


os_df.rename(columns=column_mapping, inplace=True)
os_df['source']='OpenSky'

In [40]:
iata_icao_convert=pd.read_csv('data/iata_icao_airline.csv', sep=';')
iata_icao_convert=iata_icao_convert.sort_values(by=['IATA'], ascending=False).drop_duplicates(subset='ICAO', keep='first')

In [41]:
os_df=os_df.merge(iata_icao_convert[['IATA','ICAO']], left_on='airline_iata', right_on='ICAO', how='left')

In [42]:
os_df['IATA']=os_df['IATA'].fillna(os_df['airline_iata'])
os_df=os_df.drop(columns=['airline_iata','ICAO']).rename(columns={'IATA':'airline_iata'})

In [43]:
os_df.loc[:, "distance_km"] = os_df.progress_apply(
            lambda x: distance.distance((float(x.departure_lat), float(x.departure_lon)),
                                        (float(x.arrival_lat), float(x.arrival_lon))).km if not (pd.isna(x.departure_lat) or pd.isna(x.departure_lon)
                                                                                           or pd.isna(x.arrival_lon) or pd.isna(x.arrival_lat)) else 0, axis=1)

  0%|          | 0/766500 [00:00<?, ?it/s]

In [44]:
os_df
os_df['ask'] = os_df["distance_km"]*os_df["seats"]
os_df['rpk'] = os_df['ask']*0.824

Load factor source: https://www.icao.int/annual-report-2019/Pages/the-world-of-air-transport-in-2019.aspx

In [45]:
os_df['seats'].sum()

1557765233.3550546

## Fuel burn computation process

Problem: we do not have a seymour proxi for all the aircraft types neither do we have the seats associated to each aircrfat like in AeroSCOPE core usage. 
One could extend the proxi list, but it is not without increasing the risk of errors.  
Helicopters are particularly often in this case as shown below, followed py piston private and private jets and few turbo props.  
Fortunately, this is not the majority of the flights.

If the interested reader is willing to increase the proxy list for a particular use case, he is free to do so ;)

In [46]:
os_df[os_df.seymour_proxy=='zzz'].groupby('acft_class')['n_flights'].sum().nlargest(50)

acft_class
OTHER    2118274
HE        238696
PJ         60597
PP         49957
TP         48173
Name: n_flights, dtype: int64

In [47]:
os_df[os_df.seymour_proxy!='zzz'].groupby('acft_class')['n_flights'].sum().nlargest(50)

acft_class
NB       6278233
WB       1329257
RJ       1251856
PJ        555965
TP        462949
PP         76035
OTHER       6819
Name: n_flights, dtype: int64

Now, let's compute the fuel burn using the surrogate.

In [48]:
fuel_surrogate = pd.read_csv('data/FuelSurrogate.csv', sep=';')
fuel_surrogate_dict=fuel_surrogate[['ac_code_icao',"reduced_fuel_intercept","reduced_fuel_a1","reduced_fuel_a2"]].set_index('ac_code_icao').transpose().to_dict()
ac_list=fuel_surrogate['ac_code_icao'].unique()


def compute_fuel_seymour(fuel_surrogate_dict, icao_type, distance):
    if icao_type in ac_list and distance > 1:
        coefficients = fuel_surrogate_dict[icao_type]
        fuel_burn = coefficients['reduced_fuel_intercept'] + coefficients['reduced_fuel_a2'] * distance + coefficients['reduced_fuel_a1'] * distance ** 2
    elif distance < 1:
        fuel_burn = 0
    else:
        fuel_burn = np.nan
    return float(fuel_burn)


os_df.loc[:, "fuel_burn_seymour"] = os_df.progress_apply(
                lambda x: compute_fuel_seymour(fuel_surrogate_dict, x["seymour_proxy"], x["distance_km"]),
                axis=1)

  0%|          | 0/766500 [00:00<?, ?it/s]

In [49]:
os_df

,iata_departure,departure_lon,departure_lat,departure_country,departure_continent,iata_arrival,arrival_lon,arrival_lat,arrival_country,arrival_continent,...,acft_class,seymour_proxy,seats,n_flights,source,airline_iata,distance_km,ask,rpk,fuel_burn_seymour
0,AAF,-85.027496,29.727501,US,NA,AAF,-85.027496,29.727501,US,NA,...,OTHER,zzz,0.0,5,OpenSky,ZZZ,0.000000,0.0,0.0,0.000000
1,AAF,-85.027496,29.727501,US,NA,ALX,-85.962997,32.914700,US,NA,...,OTHER,zzz,0.0,1,OpenSky,ZZZ,364.420876,0.0,0.0,NaN
2,AAF,-85.027496,29.727501,US,NA,APA,-104.848999,39.570099,US,NA,...,OTHER,zzz,0.0,1,OpenSky,ZZZ,2112.762830,0.0,0.0,NaN
3,AAF,-85.027496,29.727501,US,NA,CAE,-81.119499,33.938801,US,NA,...,OTHER,zzz,0.0,1,OpenSky,ZZZ,595.625664,0.0,0.0,NaN
4,AAF,-85.027496,29.727501,US,NA,CEW,-86.522102,30.778799,US,NA,...,TP,C208,0.0,1,OpenSky,ZZZ,185.125106,0.0,0.0,110.164092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766495,ZZV,-81.892097,39.944401,US,NA,MTN,-76.413803,39.325699,US,NA,...,PJ,C25A,0.0,1,OpenSky,ZZZ,475.204843,0.0,0.0,454.105597
766496,ZZV,-81.892097,39.944401,US,NA,STL,-90.370003,38.748697,US,NA,...,PJ,C680,0.0,1,OpenSky,ZZZ,742.469955,0.0,0.0,991.822088
766497,ZZV,-81.892097,39.944401,US,NA,TBN,-92.140701,37.741600,US,NA,...,TP,PC12,0.0,1,OpenSky,ZZZ,922.144064,0.0,0.0,358.485500
766498,ZZV,-81.892097,39.944401,US,NA,TYS,-83.994003,35.811001,US,NA,...,PP,zzz,0.0,1,OpenSky,ZZZ,494.606225,0.0,0.0,NaN
766499,ZZV,-81.892097,39.944401,US,NA,TYS,-83.994003,35.811001,US,NA,...,OTHER,zzz,0.0,2,OpenSky,ZZZ,494.606225,0.0,0.0,NaN

In [50]:
os_df['fuel_burn']=os_df['fuel_burn_seymour']*os_df['n_flights']
os_df['co2']=os_df['fuel_burn']*3.16

os_df['domestic']=(os_df.departure_country == os_df.arrival_country).astype(int)

In [52]:
os_df.to_csv('data/os_alone_test.csv')