In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd
from geopy import distance

WindowsPath('C:/Users/a.salgas.ISAE-SUPAERO/AppData/Local/traffic/traffic/traffic.conf')

## Data from zenodo archive

https://zenodo.org/record/7923702

In [ ]:
january = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20190101_20190131.csv"
)
february = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20190201_20190228.csv"
)
march = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20190301_20190331.csv"
)
april = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20190401_20190430.csv"
)
may = pd.read_csv("D:/a.salgas/Documents/opensky_2019/flightlist_20190501_20190531.csv")
june = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20190601_20190630.csv"
)
july = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20190701_20190731.csv"
)
august = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20190801_20190831.csv"
)
september = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20190901_20190930.csv"
)
october = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20191001_20191031.csv"
)
november = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20191101_20191130.csv"
)
december = pd.read_csv(
    "D:/a.salgas/Documents/opensky_2019/flightlist_20191201_20191231.csv"
)

C:\Users\a.salgas.ISAE-SUPAERO\AppData\Local\Temp\ipykernel_12888\2983827875.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  january=pd.read_csv('D:/a.salgas/Documents/opensky_2019/flightlist_20190101_20190131.csv')

In [ ]:
january

In [3]:
opensky_2019 = pd.concat(
    [
        january,
        february,
        march,
        april,
        may,
        june,
        july,
        august,
        september,
        october,
        november,
        december,
    ],
    axis=0,
).reset_index()

In [4]:
opensky_filtered = opensky_2019.query("`altitude_1`<1000 & `altitude_2`<1000").drop(
    columns={"index", "number", "registration", "typecode"}
)

In [5]:
opensky_filtered.isna().sum()

callsign            0
icao24             56
origin         202544
destination     48325
firstseen           0
lastseen            0
day                 0
latitude_1          0
longitude_1         0
altitude_1          0
latitude_2        177
longitude_2       177
altitude_2          0
dtype: int64

In [6]:
opensky_2019.isna().sum()

index                  0
callsign               0
number          26980077
icao24                77
registration     3962936
typecode         7685992
origin           9233907
destination      7252530
firstseen              0
lastseen               0
day                    0
latitude_1             0
longitude_1            0
altitude_1             0
latitude_2           736
longitude_2          736
altitude_2        812075
dtype: int64

In [7]:
len(opensky_filtered) / len(opensky_2019)

0.3950813699357848

In [9]:
opensky_filtered.to_csv("../../Data/open_sky/zenodo_flightlist_1000ft.csv")

In [4]:
aa = pd.read_csv("../../Data/open_sky/zenodo_flightlist_1000ft.csv")

In [6]:
aa

,Unnamed: 0,callsign,icao24,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,0,HVN19,888152,YMML,LFPG,2018-12-31 00:43:16+00:00,2019-01-01 04:56:29+00:00,2019-01-01 00:00:00+00:00,-37.659485,144.804421,304.8,48.995316,2.610802,-53.34
1,2,CES219,780b7e,YSSY,EDDF,2018-12-31 01:05:29+00:00,2019-01-01 04:09:29+00:00,2019-01-01 00:00:00+00:00,-33.930908,151.171987,0.0,50.045563,8.588923,-15.24
2,3,AEA040,34444e,LEMD,LEMD,2018-12-31 01:07:21+00:00,2019-01-01 03:32:59+00:00,2019-01-01 00:00:00+00:00,40.534756,-3.575426,609.6,40.475728,-3.538347,411.48
3,4,CXA825,780d75,YSSY,LFPG,2018-12-31 01:18:29+00:00,2019-01-01 04:32:28+00:00,2019-01-01 00:00:00+00:00,-33.954254,151.178041,0.0,48.996091,2.625805,22.86
4,6,CLU211,406ea3,UUEE,EDDF,2018-12-31 01:49:28+00:00,2019-01-01 04:11:38+00:00,2019-01-01 00:00:00+00:00,55.967560,37.371327,304.8,50.044400,8.583737,-30.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12333710,31218155,WP1,7c81cc,YPEC,YPEC,2019-12-31 23:45:16+00:00,2019-12-31 23:56:51+00:00,2019-12-31 00:00:00+00:00,-33.077739,151.606283,609.6,-33.091100,151.555500,632.46
12333711,31218157,N917JG,acb17b,KO20,KMOD,2019-12-31 23:45:41+00:00,2019-12-31 23:58:42+00:00,2019-12-31 00:00:00+00:00,38.095230,-121.362519,-304.8,37.625800,-120.909497,266.70
12333712,31218159,BTR,7c07cd,YPPF,YPAD,2019-12-31 23:46:09+00:00,2019-12-31 23:56:11+00:00,2019-12-31 00:00:00+00:00,-34.800201,138.632943,-304.8,-34.837134,138.472195,121.92
12333713,31218162,N214KT,a1c951,KRBD,KRBD,2019-12-31 23:47:09+00:00,2019-12-31 23:57:41+00:00,2019-12-31 00:00:00+00:00,32.674271,-96.866735,0.0,32.690192,-96.862251,251.46
12333714,31218163,N337PH,a3b11d,2TS8,KRND,2019-12-31 23:47:37+00:00,2019-12-31 23:57:56+00:00,2019-12-31 00:00:00+00:00,29.305801,-97.937358,304.8,29.437180,-98.347655,358.14